target/META-INF/mule-src/mahi/src/main/mule/mahi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c5d75c1d-8654-4617-91b4-35fb3ec499d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mahiFlow" doc:id="bd515395-795e-4952-9e2d-3af857420245" >
		<http:listener doc:name="Listener" doc:id="d067e1e7-fefa-400e-b69a-f46db422ea89" path="/order" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="71111f20-2252-416f-88ac-83a55c81747f" message="payload"/>
		<ee:transform doc:name="Transform Message" doc:id="d47ccce6-800c-40e8-aff0-aec1588e492a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3b712af0-e911-4d24-8e4f-b47b0780360b" message="#[payload]"/>
	</flow>
</mule>
